:host {
  display: block;
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.75);
}

.search_box {
  display: flex;
  align-items: center;
  width: 30%;
  min-width: 270px;

  input {
    box-shadow: inset 0px 1px 1px 0px rgba(50, 50, 50, 0.75);

    &::placeholder {
      opacity: 0.5;
    }
  }
}

.navbar {
  padding: 40px 5% 20px;

  i {
    margin-right: 10px;
  }
}

.event-form {
  display: flex;
  flex-direction: column;
  width: 262px;

  input {
    margin-bottom: 10px;
    padding: 0 5px;

    &::placeholder {
      opacity: 0.5;
    }
  }

  .btn {
    width: 100px;
  }
}

.btn_row {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
