:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  width: 253px;
  margin-left: 5%;
}

.date {
  margin: 0;
  font-weight: bolder;
  width: 120px;
  text-align: center;
}
